@model Send_Mail_Webapi.Models.EmailClass

@{
    ViewBag.Title = "Envoyé demande de congé";
}

<h2>Index</h2>

<center>
    <h2>Envoyé un demande de congé</h2>
    <hr />
    @using(Html.BeginForm("Index","Gmailsend",FormMethod.Post, new { enctype="multipart/form-data"}))
    {
        <table border="1">
            <tr>
                <td>To</td>
                <td>@Html.TextBoxFor(model => model.to)</td>
            </tr>
            <tr>
                <td>Subject</td>
                <td>@Html.TextBoxFor(model => model.subject)</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>@Html.TextAreaFor(model => model.body, new { rows = "13", cols = "25" })</td>
            </tr>
            <tr>
                <td><input type="submit" value="envoye le mail" /></td>
            </tr>
        </table>
        <h1>@ViewBag.message</h1>
    }
</center>